{{#section 'head'}}

<link rel='stylesheet' href="/css/calendar.css">

{{/section}}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Calendar</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Calendar</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="reservaForm">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reserva de Sala</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fas fa-arrow-left"></i>
                    Voltar</button>


                <form class="mt-2" role="form" action="/reserva/create" method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="idAtividade"><span class="text-danger">*</span>
                                    Atividade</label>
                                <input type="text" class="form-control {{hasError errors "atividade"}}" name="atividade"
                                    value="{{reserva.atividade}}" id="idAtividade">
                                <div class="invalid-feedback">{{showError errors "atividade"}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><span class="text-danger">*</span> Tipo</label>
                                <select class="form-control  {{hasError errors "tipo"}}" name="tipo" id="idTipo">
                                    <option value="">Selecione um tipo</option>
                                    <option value="Aula">Aula</option>
                                    <option value="Defesa">Defesa</option>
                                    <option value="Exame">Exame</option>
                                    <option value="Reunião">Reunião</option>
                                </select>
                                <div class="invalid-feedback">{{showError errors "tipo"}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="bootstrap-timepicker">
                                <div class="form-group">
                                    <label><span class="text-danger">*</span> Hora de Início: </label>

                                    <div class="input-group date" id="timepicker"
                                        data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input {{hasError errors "horaInicio"}}"
                                            data-target="#timepicker" name="horaInicio" />
                                        <div class="input-group-append" data-target="#timepicker"
                                            data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                                        </div>
                                        <div class="invalid-feedback">{{showError errors "horaInicio"}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><span class="text-danger">*</span> Hora de Término:
                                </label>
                                <select class="form-control" name="horaTermino" value="{{reserva.horaTermino}}"
                                    id="idHoraTermino"  {{hasError errors "horaTermino"}}>
                                    <option value=""></option>
                                    <option value="07:29">07:29</option>
                                    <option value="07:59">07:59</option>
                                    <option value="08:29">08:29</option>
                                    <option value="08:59">08:59</option>
                                    <option value="09:29">09:29</option>
                                    <option value="09:59">09:59</option>
                                    <option value="10:29">10:29</option>
                                    <option value="10:59">10:59</option>
                                    <option value="11:29">11:29</option>
                                    <option value="11:59">11:59</option>
                                    <option value="12:29">12:29</option>
                                    <option value="12:59">12:59</option>
                                    <option value="13:29">13:29</option>
                                    <option value="13:59">13:59</option>
                                    <option value="14:29">14:29</option>
                                    <option value="14:59">14:59</option>
                                    <option value="15:29">15:29</option>
                                    <option value="15:59">15:59</option>
                                    <option value="16:29">16:29</option>
                                    <option value="16:59">16:59</option>
                                    <option value="17:29">17:29</option>
                                    <option value="17:59">17:59</option>
                                    <option value="18:29">18:29</option>
                                    <option value="18:59">18:59</option>
                                    <option value="19:29">19:29</option>
                                    <option value="19:59">19:59</option>
                                    <option value="20:29">20:29</option>
                                    <option value="20:59">20:59</option>
                                    <option value="21:29">21:29</option>
                                    <option value="21:59">21:59</option>
                                    <option value="22:29">22:29</option>
                                    <option value="22:59">22:59</option>
                                </select>
                                <div class="invalid-feedback">{{showError errors "horaTermino"}}</div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="sala" value="{{sala}}">
             
                    <button type="submit" class="btn btn-success">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>




{{#section 'scripts'}}


<script src="/js/toastr.js"></script>
<script src="/js/jquery-ui.min.js"></script>

<script src="/js/core/main.min.js"></script>
<script src="/js/daygrid/main.min.js"></script>
<script src="/js/timegrid/main.min.js"></script>
<script src="/js/interaction/main.min.js"></script>
<script src="/js/bootstrap/main.min.js"></script>

<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/tempusdominus-bootstrap-4.js"></script>


<script>
    var reservas = {{{ jsoner reservas }}};
    toastr.options = {
        "closeButton": true,
        "newestOnTop": true,
        "progressBar": false,
        "preventDuplicates": true,
        "positionClass": "toast-top-center",

    }
    $(function () {

        $('#timepicker').datetimepicker({
            format: 'HH:mm',
            stepping: 15,
            disabledTimeIntervals: [[moment({ h: 0 }), moment({ h: 7 })], [moment({ h: 22, m: 1 }), moment({ h: 24 })]]
        })
        var reservasEventos = reservas.map((reserva) => {
            return {
                title: reserva.atividade,
                start: reserva.dataInicio + " " + reserva.horaInicio,
                end: reserva.dataTermino + " " + reserva.horaTermino,
            }
        })

        var Calendar = FullCalendar.Calendar;
        var calendarEl = document.getElementById('calendar');

        var calendar = new Calendar(calendarEl, {
            plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek'
            },
            defaultView: 'timeGridWeek',

            //Random default events
            events: reservasEventos,
            allDaySlot: false,
            minTime: "07:00:00",
            maxTime: "22:59:59",
            height: "auto",
            slotLabelFormat: {
                hour12: false,
                hour: 'numeric',
                minute: '2-digit',
                omitZeroMinute: false,

            },
            dateClick: function (info) {

                if (moment(info.dateStr).isSameOrAfter(moment().format('YYYY-MM-DD'))) {
                    if (info.view.type === 'timeGridWeek') {
                        $('#reservaForm').modal('show');
                    } else {
                        console.log('mes');
                    }
                    //console.log(moment(info.dateStr).format('YYYY-MM-DDTHH:mm:ss'))
                    //console.log(moment(info.dateStr).add(29,'m').format('YYYY-MM-DDTHH:mm:ss'))
                    //$('#reservaForm').modal('show')
                } else {
                    toastr["warning"]("A data para reserva deve ser igual ou superior que a data de hoje", "Data Inválida")
                }

            }

        });

        calendar.render();
        // $('#calendar').fullCalendar()
    })
</script>

{{/section}}