{{#section 'head'}}

<link rel="stylesheet" href="js/datatables.net-bs4/css/dataTables.bootstrap4.css">

{{/section}}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">

            <div class="col-sm-6">
                <h1>Reserva de Salas</h1>
                <a href="/reserva/createLote" class="btn btn-primary mt-2">
                    <i class="fas fa-check"></i> Reservar Salas em lote
                </a>
                <br>
                Escolha uma das salas abaixo para realizar ou visualizar as reservas

            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
                    <li class="breadcrumb-item active">Reserva de Salas</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-2">

                    <table id="tabelaSala" class="table table-striped">
                        <thead>
                            <tr>

                                <th> Nome</th>
                                <th> Número da sala </th>
                                <th> Localização da Sala</th>
                                <th> Reservas Ativas</th>

                                <th class="no-sort text-right"><a href="/reserva/listagem"><i
                                            class="fas fa-list"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each salas}}
                            <tr>

                                <td> {{nome}} </td>
                                <td> {{numero}} </td>
                                <td> {{localizacao}}</td>
                                <td> {{contarAtivos reservas}}</td>
                                <td class="text-right">
                                    <a href="/reserva/calendario/{{id}}"><i class="fas fa-calendar-alt"></i></a>
                                    <a href="/reserva/listagem/{{id}}"><i class="fas fa-list"></i></a>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</section>
{{#section 'scripts'}}

<script src="js/datatables.net/js/jquery.dataTables.js"></script>
<script src="js/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script>
    $(function () {
        $("#tabelaSala").DataTable({
            order: [],
            columnDefs: [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: false,
            autoWidth: false,
        });
    });
</script>
{{/section}}