{{#section 'head'}}

<link rel="stylesheet" href="/js/datatables.net-bs4/css/dataTables.bootstrap4.css">

{{/section}}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">

            <div class="col-sm-6">
                <h1>Reserva de Salas - Listagem {{#if sala}} de {{sala.nome}} {{else}} Geral {{/if}}</h1>
                <a href="/reserva" class="btn btn-warning mt-2">
                    <i class="fas fa-arrow-left"></i> Lista de Salas
                </a>
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
                    <li class="breadcrumb-item active">Reserva de Salas - Listagem</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive p-2">

                    <table id="tabelaReserva" class="table table-striped">
                        <thead>
                            <tr>

                                <th class="no-sort"> Sala</th>
                                <th> Atividade </th>
                                <th> Data de Início </th>
                                <th> Hora de Início </th>
                                <th> Data de Término</th>
                                <th> Hora de Término</th>
                                <th class="no-sort"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each reservas}}
                            <tr>
                                <td> {{salao.nome}} </td>
                                <td> {{atividade}} </td>
                                <td> {{dataInicio}} </td>
                                <td> {{horaInicio}}</td>
                                <td> {{dataTermino}} </td>
                                <td> {{horaTermino}}</td>
                                <td class=" text-right">
                                    <a href="/reserva/read/{{id}}"><i class="fas fa-eye"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#modal-delete" data-atividade="{{atividade}}"
                                        data-reserva-id="{{id}}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="modal-delete">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title">Confirmar</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="mt-2" role="form" action="/reserva/remove" method="POST">
                <div class="modal-body">
                    <p>Deseja excluir a reserva <span id="idModalAtividade"></span>?</p>
                    <input type="hidden" name="id" id="idReserva">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-outline-light">Sim</button>
                </div>
            </form>
        </div>
    </div>
</div>





{{#section 'scripts'}}

<script src="/js/datatables.net/js/jquery.dataTables.js"></script>
<script src="/js/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
<script>
    $(function () {
        $("#tabelaReserva").DataTable({
            order: [],
            columnDefs: [{
                "targets": 'no-sort',
                "orderable": false,
            }],
            language: {
                emptyTable: "Esta sala não possui reservas agendadas no momento",
                info: "Mostrando _START_ a _END_ de _TOTAL_ reservas",
                infoEmpty: "Mostrando 0 reservas",
                // Outras variáveis configuráveis
                /*
                infoFiltered: "(filtered from _MAX_ total entries)",
                infoPostFix: "",
                thousands: ",",
                lengthMenu: "Show _MENU_ entries",
                loadingRecords: "Loading...",
                processing: "Processing...",
                search: "Search:",
                zeroRecords: "No matching records found",
                aria: {
                    sortAscending: ": activate to sort column ascending",
                    sortDescending: ": activate to sort column descending"
                }
                */
                paginate: {
                    first: "Primeiro",
                    last: "Último",
                    next: "Próximo",
                    previous: "Anterior"
                },

            },
            pageLength: 20,
            paging: true,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: true,
            autoWidth: false,
            sDom: '<"top"i>rt<"bottom"flp><"clear">'
        });

        $('#modal-delete').on('show.bs.modal', function (event) {
            var btn = $(event.relatedTarget)
            var reservaId = btn.data('reserva-id')
            console.log(reservaId)
            var atividade = btn.data('atividade')
            var modal = $(this)
            modal.find('.modal-body #idReserva').val(reservaId);
            modal.find('.modal-body #idModalAtividade').text(atividade);
        })
    });
</script>
{{/section}}