<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Reserva: {{reserva.atividade}} para {{ddmmYYYY reserva.dataInicio}} - {{reserva.horaInicio}}</h1>
                <div class="margin mt-2">
                    <a href="/reserva/calendario/{{reserva.sala.id}}" class="btn btn-warning">
                        <i class="fas fa-calendar-alt"></i> Calendário de Reservas
                    </a>
                    <a href="/reserva/listagem/{{reserva.sala.id}}" class="btn btn-warning">
                        <i class="fas fa-list"></i> Listagem de Reservas
                    </a>
                    <a href="/reserva/update/{{reserva.id}}" class="btn btn-info">
                        <i class="fas fa-pencil-alt"></i> Alterar
                    </a>
                    <a href="/reserva/remove/{{reserva.id}}" class="btn btn-danger">
                        <i class="fas fa-times"></i> Remover
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Página Inicial</a></li>
                    <li class="breadcrumb-item"><a href="/reserva">Reserva Salas</a></li>
                    <li class="breadcrumb-item"><a href="/reserva/calendario/{{reserva.sala.id}}">{{reserva.sala.nome}}</a></li>
                    <li class="breadcrumb-item active">Reserva: {{reserva.atividade}} para {{ddmmYYYY reserva.dataInicio}} - {{reserva.horaInicio}}</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col">

            <div class="card">
                <div class="card-body p-0">


                    <table class="table table-striped">

                        <tr>
                            <td>Data de Reserva</td>
                            <td>{{reserva.diaHoraReserva}}</td>
                        </tr>

                        <tr>
                            <td>Sala</td>
                            <td>{{reserva.sala.nome}}</td>
                        </tr>

                        <tr>
                            <td>Atividade</td>
                            <td>{{reserva.atividade}}</td>
                        </tr>

                        <tr>
                            <td>Tipo</td>
                            <td>{{reserva.tipo}}</td>
                        </tr>

                        <tr>
                            <td>Data de Início</td>
                            <td>{{ddmmYYYY reserva.dataInicio}}</td>
                        </tr>

                        <tr>
                            <td>Hora de Início</td>
                            <td>{{reserva.horaInicio}}</td>
                        </tr>

                         <tr>
                            <td>Data de Término</td>
                            <td>{{ddmmYYYY reserva.dataTermino}}</td>
                        </tr>

                        <tr>
                            <td>Hora de Término</td>
                            <td>{{reserva.horaTermino}}</td>
                        </tr>

                        <tr>
                            <td>Socilitante da Reserva</td>
                            <td>{{user.nome}}</td>
                        </tr>

                        

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>