<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
       
        <center class="brand-text center font-weight-light">ICOMP</center>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/img/iconUser.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user.nome}} Nome</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview {{openMenu active.reservaMenu}}">
                    <a href="#" class="nav-link {{isActive active.reservaMenu}}">
                        <i class="nav-icon fas fa-building"></i>

                        <p>
                            Reserva de Sala
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/sala" class="nav-link {{isActive active.salas}}">
                                <i class="fas fa-cog nav-icon"></i>

                                <p>Gerenciar Salas</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/reserva" class="nav-link {{isActive active.reservas}}">
                                <i class="fas fa-calendar-check nav-icon"></i>
                                <p>Reservar Sala</p>
                            </a>
                        </li>

                    </ul>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>


